*{
  font-family: 'Oswald', sans-serif;
}

.nav {
  background: linear-gradient(90deg, #393940 0%, #374138 45%, #725b52 100%);
  color: white;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	top: 0;
  font-size: 20px;
}

.nav__title{
  margin: 0px 30px;
}

.nav__item{
  display: inline-block;
  margin: 0px 30px;

  color: #fff;
}

a{
  box-shadow: inset 0 0 0 0 #725b52;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

img{
  margin-left: -640px;
}

.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color:#374138;
  color: #fff;
  border: none;
}

.nav input

.nav input[type=text]:focus {
  border: none;
}
.dugmePretraga {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #6e564c; 
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

}

.dugmePretraga:hover{
  background: #755f56;
  cursor: pointer;
}
::placeholder{
  color: #fff;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #725b52;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 25px;
}

 /* css za Footer */
 .footer-container {
  background-color: #374138;
  display: flex;
  opacity: 80%;
  justify-content: space-evenly;
  height: 60px;

}

.footer-text {
  text-align: center;
  color: #fff;
 padding-bottom: 10px;
 padding-top: 10px;
  margin: 8px;

}

/* css za Home stranicu*/
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.home{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/321/216/37/black-background-metal-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 100px;

}

.homeWelcomeImage {
  display: flex;
  flex-wrap: wrap;
  background: #393940;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 70%;
}

.WelcomeImage {
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

h2{
  padding-top: 100px;
  font-size: 40px;
  letter-spacing: 5px;
  padding-left: 60px;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 20px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 800px;
}

h3{
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}

h4{
  font-size: 20px;
  text-align: justify;
  padding-left: 200px;
}

.paragrafhome{
  text-align: center;
  position: absolute;
  top: 50%;
  right: 40%;
  color: white;

}
  .flex-container {

    display: flex;
    flex-wrap: wrap;
    background: #393940;
    justify-content: space-evenly;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 90%;

  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: 40%;
    color: white;
    text-align: justify;
    padding: 10px;
    background-color: transparent;
    padding-bottom: 50px;
  }

  .slikaHome {
    margin-left: 0px;
    width: 100%;
    height: 97%;
  }

  /* gyms css */
  .row{
    padding: 5%;
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
  }

  @keyframes animated-border {
    0% {
      box-shadow: 0 0 0 0 rgba(181, 159, 159, 0.4);
    }
    100% {
       box-shadow: 0 0 0 20px rgba(255,255,255,0);
    }
  }
  .card-img-top{
    height: 360px;
    width: 600px;
    margin:0px;
  }

  .card{
    background: linear-gradient(90deg, #393940 0%, #374138 20%, #725b52 70%, #393940 100%);
    inline-size: 600px;
    overflow: hidden;
    animation: animated-border 1.5s infinite;
    margin: 20px;
    padding-bottom: 20px;
  }

  .card-text, .card-title{
    color: white;
  }

  .card-title{
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: -5px;
    margin-bottom: -10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-text{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .gyms, .favorites{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/321/216/37/black-background-metal-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 100px;

  }

  .btnDodaj, .btnIzbaci {
    background-color: #374138;
    padding-top: 8px;
   padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 22px;
    padding: 10px;
    margin-left: 15px;
    font-size: 22px;
    border: none;
    color: #f1f1f1;
  }

  .btnDodaj:hover, .btnIzbaci:hover {
    background-color: #6e564c;
    padding: 10px;
    font-size: 22px;
    border: none;
    color: #f1f1f1;
  }
  