*{
  font-family: 'Oswald', sans-serif;
}

.nav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, #393940 0%, #374138 45%, #725b52 100%);
  color: white;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	top: 0;
  font-size: 20px;
}

.nav__title{
  margin: 0px 30px;
}

.nav__item{
  display: inline-block;
  margin: 0px 30px;

  color: #fff;
}

a{
  box-shadow: inset 0 0 0 0 #725b52;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

img{
  margin-left: -640px;
}

.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color:#374138;
  color: #fff;
  border: none;
}

.nav input

.nav input[type=text]:focus {
  border: none;
}
.dugmePretraga {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #6e564c; 
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

}

.dugmePretraga:hover{
  background: #755f56;
  cursor: pointer;
}
::placeholder{
  color: #fff;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #725b52;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 25px;
}